body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.navbar-color{
	background-color: #383838 !important;
}

.navbar-toggler{
	border: none !important;
}

.navbar-website-name{
	text-shadow: 2px 2px black !important;
	font-family: 'Unica One', cursive  !important;
	font-weight: bold  !important;
	font-size: 25px  !important;
}

.navbar-test{
	display: flex !important;
	align-items: center !important;
}

.navbar-link{
	padding: 10px !important;
	text-shadow: 2px 2px black !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	font-size: 20px !important;
	color: white !important;
}

.navbar-link:hover{
	background-color: #a1a1a1 !important;
	color: #383838 !important;
	text-shadow: none !important;
	border-radius: 5px !important;
	text-decoration: none !important;
}

.footer{
/*	display: flex;
	align-items: center;
	height: 10vh !important;*/
	background-color: #383838 !important;
	color: white !important;
	font-family: 'Unica One', cursive !important;
	text-shadow: 2px 2px black !important;
}

.footer-text{
	text-align: center;
	margin: 0px;
}

.loading-screen{
	background-image: url('./views/images/backgrounds/loading-page.jpg'), linear-gradient(to right, #296f8f, #a6cee0);
	background: cover;
	height: 100vh;
/*	display: flex;
	align-items: center;*/
}

.glitch-container {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loading-glitch1 {
	color: #fff;
	font-size: 5em;
	letter-spacing: 8px;
	font-family: 'Unica One', cursive;
	font-weight: 400;
	/*Create overlap*/

	/*margin: 0;
	line-height: 0;*/
	/*Animation*/

	animation: glitch1 5s infinite;
	position: absolute;
	top: 40%;
}

#loading-glitch2 {
	color: #67f3da;
	font-size: 5em;
	animation: glitch2 5s infinite;
	position: absolute;
	font-family: 'Unica One', cursive;
	letter-spacing: 8px;
	top: 40%;
}

#loading-glitch3 {
	color: #f16f6f;
	font-size: 5em;
	animation: glitch3 5s infinite;
	position: absolute;
	font-family: 'Unica One', cursive;
	letter-spacing: 8px;
	top: 40%;
}

#transmission-glitch1 {
	color: #fff;
	/*font-size: 5em;*/
	letter-spacing: 8px;
	font-family: 'Unica One', cursive;
	font-weight: 400;
	/*Create overlap*/

	/*margin: 0;
	line-height: 0;*/
	/*Animation*/

	animation: glitch1 10s infinite;
	position: absolute;
	top: 60%;
}

#transmission-glitch2 {
	color: #67f3da;
	/*font-size: 5em;*/
	animation: glitch2 10s infinite;
	position: absolute;
	font-family: 'Unica One', cursive;
	letter-spacing: 8px;
	top: 60%;
}

#transmission-glitch3 {
	color: #f16f6f;
	/*font-size: 5em;*/
	animation: glitch3 10s infinite;
	position: absolute;
	font-family: 'Unica One', cursive;
	letter-spacing: 8px;
	top: 60%;
}


/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.success{
	background-color: #75c763 !important;
	background-image: linear-gradient(to right, #2d801b, #75c763) !important;
	color: white !important;
	font-size: 20px !important;
	border: 1px solid #75c763 !important;
	border-radius: 20px !important;
	padding: 5px 15px !important;
	box-shadow: 1px 2px #8c979c !important;
	text-shadow: 2px 2px #383838 !important;
	outline: none !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
}

.success:hover {
	background-color: #698a62 !important;
	background-image: linear-gradient(to right, #1d5411, #698a62) !important;
	border: 1px solid #698a62 !important;
}

.info{
	background-color: #27dde3 !important;
	background-image: linear-gradient(to right, #1580ad, #27dde3) !important;
	color: white !important;
	font-size: 20px !important;
	border: 1px solid #27dde3 !important;
	border-radius: 20px !important;
	padding: 5px 15px !important;
	box-shadow: 1px 2px #8c979c !important;
	text-shadow: 2px 2px #383838 !important;
	outline: none !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
}

.info:hover {
	background-color: #a6cee0 !important;
	background-image: linear-gradient(to right, #296f8f, #a6cee0) !important;
	border: 1px solid #a6cee0 !important;
}

.danger{
	background-color: #cf5f5f !important;
	background-image: linear-gradient(to right, #c22929, #cf5f5f) !important;
	color: white !important;
	font-size: 20px !important;
	border: 1px solid #cf5f5f !important;
	border-radius: 20px !important;
	padding: 5px 15px !important;
	box-shadow: 1px 2px #8c979c !important;
	text-shadow: 2px 2px #383838 !important;
	outline: none !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
}

.danger:hover {
	background-color: #bf2e2e !important;
	background-image: linear-gradient(to right, #6e1313, #bf2e2e) !important;
	border: 1px solid #bf2e2e !important;
}

.courses-container{
	background-image: url('./views/images/backgrounds/courses.jpg'), linear-gradient(to right, #296f8f, #a6cee0);
	background: cover;
	height: 140vh;
}

.header-text {
	padding-top: 20px !important;
	text-shadow: 2px 2px black !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: white !important;
	text-align: center !important;
	font-size: 50px !important;
}

.course-card{
	margin: 10px !important;
	padding: 5px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column !important;
	background-color: rgba(56,56,56,.8) !important;
	height:350px !important;
	width:300px !important;
	border-radius: 14px 50px 30px !important;
}

.card-header {
	/*margin-top: 4px !important;*/
	padding: 0px 20px !important;
	text-shadow: 2px 2px #383838 !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: white !important;
	border-bottom: 2px solid white !important;
}

.card-text {
	margin: 10px !important;
	text-shadow: 2px 2px #383838 !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: white !important;
	text-align: center !important;
}

.card-image {
	height: 100px !important;
	width: 100px !important;
	border-radius: 50px !important;
	box-shadow: 1px 2px #383838 !important;
}

.classes-container{
	padding: 20px 0px;
	background-image: url('./views/images/backgrounds/classes.jpg'), linear-gradient(to right, #296f8f, #a6cee0);
	background: cover;
	min-height: 100vh;
	max-height: 175vh;
}

.table-custom{
	height: 80vh;
	width: 100%;
	/*padding: 10px !important;*/
	background-color: #383838 !important;
	color: white !important;
	/*border: 1px solid #2b2b2b;*/
	text-shadow: 2px 2px black !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	text-align: center !important;
	border-radius: 14px 50px 30px !important;
}

.table-head{
	/*height: 50px !important;*/
	font-size: 20px;
}

.thead-data{
	padding: 10px 0px !important;
}

td{
	border-top: 1px solid white !important;
	padding: 10px 0px !important;
}

.login-container{
	background-image: url('./views/images/backgrounds/login.jpg'), linear-gradient(to right, #296f8f, #a6cee0);
	background: cover;
	height: 100vh;
}

.form-label {
	text-shadow: 2px 2px #383838 !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: white !important;
}

.register-container{
	padding: 5vh;
	background-image: url('./views/images/backgrounds/register2.jpg'), linear-gradient(to right, #296f8f, #a6cee0);
	background: cover;
	height: 100vh;
}

.form-container{
	/*margin: 10px !important;*/
	padding: 20px !important;
	/*display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column !important;*/
	background-color: rgba(56,56,56,.8) !important;
	/*height:350px !important;
	width:300px !important;*/
	border-radius: 14px 50px 30px !important;
}

.register-button{
	border: 0px;
	background-color: transparent;
	text-shadow: 2px 2px #383838 !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: #1fbff0 !important;
}

.modal-header{
	background-color: #383838;
	text-shadow: 2px 2px #383838 !important;
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: white !important;
}

.modal-header > button{
	color: white !important;
}

.modal-body{
	background-color: #c9c9c9 !important;
	/*text-shadow: 2px 2px #383838 !important;*/
	font-family: 'Unica One', cursive !important;
	font-weight: bold !important;
	color: white !important;
}

.modal-text{
	text-shadow: 2px 2px black !important;
}

.DayPicker-Months{
	border-radius: 5px;
	background-color: rgba(56,56,56,.8) !important;
}

abbr {
	color: #4191a3 !important;
	font-size: 20px !important;
}

.DayPicker-Day--disabled{
	color: rgba(56,56,56,8) !important;
}

.DayPicker-Day--selected{
	background-color: #62c3d9 !important;
	background-color: linear-gradient(to right, #296f8f, #a6cee0) !important;
}

.dropdown-size{
	width: 275px !important;
}

.payment-container{
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(56,56,56,.2) !important;
	color: white;
}

.update-container{
	margin: 10px;
	width: 275px !important;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(56,56,56,.2) !important;
}

.update-text{
	margin: 0px !important;
}

/*small screen responsive styles*/
@media only screen and (max-width: 639px){
	.nav-item {
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}

	.login-container{
		padding: 0 5% 0 5%;
		background-image: url('./views/images/backgrounds/login.jpg'), linear-gradient(to right, #296f8f, #a6cee0);
		background: cover !important;
		background-repeat: no-repeat !important;
		height: 100vh;
	}

	.register-container {
		padding: 0 5% 0 5%;
		background: 
			url('./views/images/backgrounds/register2.jpg'), 
			linear-gradient(to right, #296f8f, #a6cee0);
		background: cover !important;
		background-repeat: no-repeat !important;
		min-height: 100vh !important;
	}

	.form-container{
		padding: 20px !important;
		background-color: rgba(56,56,56,.8) !important;
		width:90vw !important;
		border-radius: 14px 50px 30px !important;
	}
}

/*medium screen responsive styles*/
@media only screen and (min-width: 640px) and (max-width: 1365px){
}

